vid.npy
greenVid.npy
.idea
VideoPlayer4.py
videosActual
videos
temp
temp2

GUI_Pages/ccData.npy
GUI_Pages/demo3.xlsx
GUI_Pages/demo5.xlsx
GUI_Pages/fishData.npy
GUI_Pages/temp.py
GUI_Pages/test_200_frames_1_24_24.avi
GUI_Pages/test_200_frames_1_24_24_velocities.npy
GUI_Pages/test_200_frames_1_24_24_velocity.avi
GUI_Pages/test_imaging_1-24-24_smooth_velocities.avi
GUI_Pages/velocities2Excel.py
GUI_Pages/velocitiesData.npy
GUI_Pages/velocityData.npy
GUI_Pages/VideoPlayerAndGraph.py
outputs/demo/test_200_frames_1_24_24_velocity.avi
outputs/demo/test_200_frames_1_24_24_velocities.npy
outputs/demo/test_200_frames_1_24_24.avi
outputs/demo2
outputs/demo3
outputs/smallGridDemo